<nav>
  <ul class="nav-left">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/remote">Remote application</a></li>
  </ul>
  <ul class="nav-right">
    <li *ngIf="isAuthenticated$ | async">
      <a routerLink="/profile">Profile</a>
    </li>
    <li>
      <ng-container *ngIf="(isAuthenticated$ | async) === false; else signout">
        <button (click)="signIn()">Sign in</button>
      </ng-container>

      <ng-template #signout>
        <button (click)="signOut()">Sign out</button>
      </ng-template>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
